<header class="app-app-bar row middle-xs">
      <span class="logo col-xs-10">
        Retain
      </span>
      <nav class="col-xs-2">
        <div class="row middle-xs between-xs">
          <span class="link">Settings</span>
          <span class="link">signout</span>
        </div>
      </nav>
    </header>