<div class="note-card row shadow-1"
(mouseleave)="toggleCheck()"
(mouseenter)="toggleCheck()"
[ngStyle]="{'background-color': note.color}"

>
  <div class="icon" 
      (click)="onChecked()"
      *ngIf ="showCheck"
  >
    <i class="material-icons">check</i>
  </div>
  <div class="col-xs-12 title">
    {{ note.title }}
  </div>
  <div class="col-xs-12 value">
    {{ note.value }}
  </div>
</div>